.headerLight{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    justify-content: space-between;
    background-color: white;
}
.headerDark{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    justify-content: space-between;
    background-color: rgb(65, 64, 64);
}
.headerLight button{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
}

.headerLight h1 a{
   
    text-decoration: none;
    color: black;
}
.headerDark button{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    color: white;
}
.headerDark h1 a{
    text-decoration: none;
    color: white;
}